<p id="notice"><%= notice %></p>
<div class="user-profile">

  <div class="profile-info">
    <div class="display-picture">

      <img class="dp-large" src="<%=@profile.image_url%>">

    </div>
    <div class="user-details">
      <div class="name">
      <%=@profile.user_name%>
      <%if current_user.id == @profile.user.id%>
        <div class="edit-profile">
          <%= link_to 'Edit profile', edit_profile_path(@profile) %>
        </div>
      <%else%>
        <div class="following">
          <button type="button" name="button">-Following-</button>
        </div>
      <%end%>
      </div>

      <div class="stats">
        <div class="num-post"><strong><%=@photos.count%></strong> posts</div>
        <div class="num-followers"><strong></strong> followers</div>
        <div class="num-following"><strong></strong> following</div>
      </div>
      <div class="bio">
        <p><strong><%=@profile.user_name%></strong>
         <%= @profile.bio %></p>
      </div>
    </div>
  </div>
  <%@profile.id%>
  <%params["id"] %>
  <%Photo.find_by_id(@profile.id).id %>

  <br>

  <div class="photo-grid">

<script type="text/javascript">
  count = 0;
</script>
<script src="jquery-3.2.1.min.js"></script>


    <% @photos.reverse.each_with_index do |photo,i| %>

    <div class="profile-images-overlay" id="col_<%=i%3%>">
      <img id= "profile-images<%=i%>" class="profile-images" src="<%=photo.image_url%>">

    </div>


<script type="text/javascript">
console.log(document.documentElement.clientWidth);
  // $( window ).resize(function() {
  // if (document.documentElement.clientWidth > 986) {
    var daImg = document.getElementById('profile-images<%=i%>');
    var width = daImg.naturalWidth;
    var height = daImg.naturalHeight;
    console.log(daImg, width, height);
    console.log(height/width);
  // replace the image container (currently named profile-images-overlay) and add class grid-column: 2 / span 2; and change width to 100%
  console.log("count is: " + count);
    if(width/height >=1.5 && (<%=i%>+count)%3 ===0){
      console.log("yesh this is a doubler");
      count +=1
      daImg.parentNode.classList.add("grid-column-0");
    }
    else if(width/height >=1.5 && (<%=i%>+count)%3 ===1){
      console.log("yesh this is a doubler");
      count +=1
      daImg.parentNode.classList.add("grid-column-1");
    };
  // };
// });

</script>
    <%end%>

  </div>

</div>


<%= link_to 'Back', profiles_path %>
<%=@profile.user.email%>
