<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Photo:</strong>
    <%= @comment.photo.id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @comment.photo.caption %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
