<p id="notice"><%= notice %></p>


<% @photos.reverse.each do |photo| %>
<% id = photo.id.to_i%>
<%id.class%>


  <div class="newsfeed">
    <div class="newsfeed-user">
      <img class="dp" src="/assets/face.png" alt="">
      <!-- <div class="post-dp"></div> -->
      <div class="username">
        <p>user: <strong><%= @users.find_by_id(photo.user_id).email %></strong> </p>
      </div>

    </div>


    <div class="newsfeed-photo">
      <img src="<%=photo.image_url%>">
    </div>
    <div class="newsfeed-likes-comments">

    <%= link_to like_photo_path(photo), :class => "upvote", :method => :put  do%>
      <div class="newsfeed-hearts">
        <div class="hearts"></div>
      </div>
    <%end%>

      <div class="newsfeed-viewsOrlikes">
        <strong><span><%= photo.get_upvotes.size  %></span> likes</strong>
      </div>
      <div class="newsfeed-comments">
          <strong><%=@users.find_by_id(photo.user_id).email  %></strong>
          <%= photo.caption %>

            <%if @comments.where(photo_id: (id))[0] != nil %>
              <a class="more-comments"><span class="grey">more</span></a>
              <span class="more_text">
              <%comments = @comments.where(photo_id: (id))%>

              <%comments.each{|i|%> <p class="newsfeed-replies" ><strong><%=@users.find_by_id(i.user_id).email%></strong>  <%=i.message%> </p><%}%>
            <%end%>
          </span>

      </div>
      <div class="newsfeed-hours-ago">
        <%now = Time.now%>
        <%= time_ago_in_words(photo.updated_at)%> ago
      </div>
      <div class="newsfeed-add-comment">
        <%= link_to 'Comment?', new_comment_path(:comment_photo_id=> photo.id)%>
      </div>

    </div>
    <div class="">

      <% link_to 'like', like_photo_path(photo), :class => "upvote", :method => :put %>
      <% link_to 'dislike', dislike_photo_path(photo), :class => "upvote", :method => :put %>

    <% photo.get_upvotes.size  %>
    <% photo.get_downvotes.size  %>
    <% current_user.voted_for? photo %>
    <% current_user.voted_as_when_voted_for photo%>
    <%photo.liked_by current_user%>



    </div>


  </div>
<%end%>







<br>

<%= link_to 'New Photo', new_photo_path , class: "login_out"%>
