<p id="notice"><%= notice %></p>
<style> body {
   background-color: #3F3F3F !important;}
   .banner{
      background-color: #3F3F3F !important;
      border-color:  #3F3F3F ;
   } </style>
  <p>
    <strong>Photo ID</strong>
    <% @photo.id%><br><%
    @photo.user_id%>

    <%@users.find_by_id((@photo.user_id)).email %>

    <!-- <p>@users.find_by_id(@photo.find_by_id(@photo.id).user_id).email </p> -->

  </p>
<div class="wrap">
  <div class="single-grid">
    <div class="photo">
      <img class="image_show"src="<%=@photo.image_url%>">
    </div>
    <div class="right">
      <div class="photo_user">

        <div class="circle">

        </div>
        <p>
          <strong>User:</strong>
          <%= @photo.user.profile.user_name %>
        </p>
      </div>
      <div class="comments">
          <p>
          <strong><%=@photo.user.profile.user_name  %></strong>
          <%= @photo.caption %>
          </p>

        <% @comments.each do |comment| %>
            <p>
              <strong><%= comment.user.profile.user_name %> </strong>
              <%= comment.message %>
            </p>
        <% end %>
      </div>
      <div class="flex">
        <div class="likes">
          <img src="/assets/32px-heart.png" alt="">
        </div>

        <a href="javascript:document.getElementById('add').focus()" class="likes">
          <img src="/assets/message.png" alt="">
        </a>
      </div>


      <div class="add-comment">
      <form  action="index.html" method="post" >
  <textarea id="add" name="name" rows="3" cols="80"placeholder="Add a comment..."></textarea>
      </form>
      </div>
    </div>

  </div>
</div>


<!-- <p>
  <strong>Image data:</strong>
  <%= @photo.image_data %>
</p> -->



<%= link_to 'Destroy', @photo, :method => :delete, :confirm => "Are you sure?" %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
