<!DOCTYPE html>
<html>
  <head>
    <title>InstaRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <div class="logos">
        <div class="camera"></div>
        <div class="text"></div>
      </div>
      <%= link_to 'Add Photo', new_photo_path %>
      <%= link_to 'Add Comment', new_comment_path%>
    </div>
    <div class="container">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>

      <% else %>
      <% end %>
      <% if current_page?('/')  %>
        <% if user_signed_in? %>
        <div>
        <%= button_to('Logout', destroy_user_session_path, method: :delete , form_class: "login_out") %>
        </div>
        <% else %>
        <div>
        <%= button_to('Login', new_user_session_path, form_class: "login_out")  %>
        </div>
        <% end %>
      <% end %>


      <%= yield %>
    </div>

  </body>
</html>
